<% wrap_layout :layout do %>

  <main class="main" role="main">
    
    <div class="main__inner">

      <section class="layout layout--<%= current_page.data.layout_class %>">

        <%= yield %>

      </section>

    </div>

  </main>

<% end %>
